sends malformed WebFinger requests

I see in my log:

```
2a0a:4cc0:0:d8b:4803:cbff:fe28:a5a3 - - [01/Dec/2022:00:36:07 +0100] "GET /.well-known/host-meta HTTP/1.1" 200 5339 "-" "python-requests/2.28.1"
2a0a:4cc0:0:d8b:4803:cbff:fe28:a5a3 - - [01/Dec/2022:00:36:07 +0100] "HEAD /.well-known/webfinger?resource=md@linux.it HTTP/1.1" 404 5069 "-" "python-requests/2.28.1"
2a0a:4cc0:0:d8b:4803:cbff:fe28:a5a3 - - [01/Dec/2022:00:36:11 +0100] "GET /.well-known/host-meta HTTP/1.1" 200 5339 "-" "python-requests/2.28.1"
2a0a:4cc0:0:d8b:4803:cbff:fe28:a5a3 - - [01/Dec/2022:00:36:11 +0100] "HEAD /.well-known/webfinger?resource=md@linux.it HTTP/1.1" 404 5069 "-" "python-requests/2.28.1"
```

But this is wrong: the `resource` query parameter must have an URI as its argument, in this case `resource=acct:md@linux.it`.

This is specified by RFC 7033 section 4.5.